NODE_ENV = development
PORT = 8000

FRONT_URL = http://localhost:5173
DB_MONGO_URI = mongodb+srv://

JWT_ACCESS_TOKEN_SECRET = mySecretKey-AccessToken
JWT_REFRESH_TOKEN_SECRET = mySecretKey-RefreshToken
JWT_ACCESS_TOKEN_EXPIRATION = 1h
JWT_REFRESH_TOKEN_EXPIRATION = 1d

GOOGLE_CLIENT_ID = "929187215188-khc81a9933m5u76csnbe1v2mv9cimgt7.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_REDIRECT_URI = "http://localhost:8000/auth/google/callback"