NODE_ENV = development
PORT = 8000

DB_MONGO_URI = mongodb+srv://

JWT_ACCESS_TOKEN_SECRET = mySecretKey-AccessToken
JWT_REFRESH_TOKEN_SECRET = mySecretKey-RefreshToken
JWT_ACCESS_TOKEN_EXPIRATION = 1d
JWT_REFRESH_TOKEN_EXPIRATION = 3d

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET = 

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

ALLOW_ORIGINS_URLS= ["http://localhost:5173"]
PATH_TEMP_IMAGES = "temp_images"
PATH_CLOUDINARY_IMAGES = "images"